body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #3e4b50;
  background: linear-gradient(
    to right,
    rgba(201, 159, 136, 0.7),
    rgba(145, 163, 176, 0.7)
  );
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.transparent-overlay {
  position: absolute;
  top: 15%;
  left: 0;
  height: 70%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

container {
  height: 100vh;
}

.text-content {
  position: relative;
  top: -50px;
  text-align: left;
  margin-left: 50px;
}
