* {
  font-family: "Montserrat", sans-serif;
  color: #3e4b50;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.carousel-inner img {
  max-height: 500px; /* Limit max height */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure image fits within its bounds */
}

body {
  background: linear-gradient(
    to right,
    rgba(201, 159, 136, 0.7),
    rgba(145, 163, 176, 0.7)
  );
  justify-content: center;
  align-items: center;
}

header,
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(201, 159, 136, 0.7),
    rgba(145, 163, 176, 0.7)
  );
}

footer {
  height: 60px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(201, 159, 136, 0.7),
    rgba(145, 163, 176, 0.7)
  );
  z-index: 19;
  width: 100vw;
}

.fw-medium {
  font-weight: 500;
}

.transparent-overlay {
  margin-top: 60px;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    rgba(201, 159, 136, 0.0001),
    rgba(145, 163, 176, 0.0001)
  );
  z-index: 0;
}

.nav-link.outline-current-page {
  display: inline-block;
  border: 2px solid #c99f88;
  padding: 10px 20px;
  border-radius: 3px;
  transition: none;
  style: inherit;
}

container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.text-content {
  position: relative;
  top: -50px;
  text-align: left;
  margin-left: 50px;
}

.font-color-green {
  color: #a8bca8;
}

.font-color-pink {
  color: #c99f88;
}

.font-color-blue {
  color: #91a3b0;
}

.font-color-cream {
  color: #f4f1de;
}

.font-color-dark-blue {
  color: #3e4b50;
}

.pdf-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-img-container,
.project-card {
  max-width: 100%;
  overflow: hidden;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.resume-button {
  background-color: #fdf5e6;
  color: #4b4b4b;
  border: 2px solid #d2a679;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.2s ease-in-out; /* Smooth hover animation */
}

.resume-button-inverse {
  background-color: #d2a679;
  color: #fdf5e6;
  border: 2px solid #4b4b4b;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.2s ease-in-out; /* Smooth hover animation */
}

.resume-button-md {
  background-color: #fdf5e6;
  color: #4b4b4b;
  border: 2px solid #d2a679;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.2s ease-in-out; /* Smooth hover animation */
}

.resume-button-md-inverse {
  background-color: #d2a679;
  color: #fdf5e6;
  border: 2px solid #4b4b4b;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.2s ease-in-out; /* Smooth hover animation */
}

.resume-button:hover,
.resume-button-inverse:hover,
.resume-button-md:hover,
.resume-button-md-inverse:hover {
  background-color: #f9e9d2;
  color: #4b4b4b;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  transform: translateY(-2px); /* Lift the button slightly on hover */
}

.bi-arrow-left-square:hover {
  color: #c99f88;
  transform: translateY(-2px);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Mobile styles (small screens) */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Ensure the buttons don't overflow the card */
.card-body .resume-button-md,
.card-body .resume-button-md-inverse {
  width: 100% !important;
  max-width: 100% !important;
}

/* Optional: Add margin adjustments for smaller screens */
@media (max-width: 1000px) {
  .card-body .d-flex {
    flex-direction: column;
    gap: 10px;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    width: 100% !important; /* Ensure it takes up the full width */
  }
}

/* Increase z-index for the nav items */
.nav-item {
  position: relative;
  z-index: 1060; /* Higher than navbar and collapse items */
}
